body.renew{
	background-image:url("../image/bg.jpg");
	background-attachment:fixed;
}
.padd-form{
	padding-top:0pt;
	padding-bottom:15pt;
	padding-right:15pt;
	padding-left:15pt;
}
.boxsh{
	opacity:0.9;
}
.furbish{
	color:green;
}
#toru{
	width:150px;
	margin-bottom:20pt;
}

.fr{
margin-top:10pt;
margin-bottom:10pt;
margin-left:20pt;
}
.hubmsg{
	text-align:center;
	padding:15px;
	border:1px solid green;
}
.iconbase{
	font-size:100pt;
}
.tgreen{
	color:green;
}
.textme{
	text-align:center;
	padding-bottom:70pt;
	font-size:20pt;
	
}
.footimg{
	border:6px solid white;
}

