.orderTop{
	margin-top:10pt;
	box-shadow:2px 2px 1px lightgray;
}
.b-shift{
	margin-top:10pt;
}
.fa-sizer{
	font-size:20pt;
	padding:10px;
}
.am-Ajuster{
	font-size:17pt;
}
.cu-Ajuster{
	font-size:10pt;
}
.t-label{
	font-size:;
	font-weight:bold;
	color:purple;
}
